@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --fg: #ffffff;
}

html, body {
  height: 100%;
}

body {
  @apply bg-black text-white;
  font-feature-settings: "rlig" 1, "calt" 1;
}
